#grid-holder {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

#proximity {
    grid-column: 1;
    grid-row: 1;
}

#alignment {
    grid-column: 2;
    grid-row: 1;
}

#contrast {
    grid-column: 1;
    grid-row: 2;
}