#grid-holder {
    display:grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

#proximity {
    grid-column: 1;
    grid-row: 1;
}

#alignment {
    grid-column: 1;
    grid-row: 2;
}

#contrast {
    grid-column: 1;
    grid-row: 3;
}

p, a {
    padding-left: 15px;
    padding-right: 15px;
}


.design-img {
    max-width: 80%;
    padding-left: 10%;
}