#grid-holder {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px 1fr 30px 1fr 30px 1fr;
    grid-gap: 15px;
}

p, a {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    align-items: center;
}