#grid-holder {
    display:grid;
    grid-template-columns: 95%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

p {
    padding-left: 15px;
    padding-right: 15px;
}

#latimes-img {
    max-width: 80%;
    padding-left: 10%;
}