body {
    background-color: #2F4F4F;
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", sans-serif;
}

#wrapper {
    width: 90%;
    margin: 0 auto;
}

h1, #portal, footer  {
    margin: 0;
    text-align: center;
}

#my_pic {
    width: 90%;
}

#assignments {
    background-color: white;
    color:black;
    list-style-type: none;
}

.lesson, .link {
    display: inline-block;
}

#mozilla {
    color:lightskyblue;
}

h2 {
    text-align: center;
}